<div class="wrapper">
    <div class="row">
        <div style="border-right: none; border-top: none"class="col span1">1</div>
        <div style="border-bottom: none; border-top: none;"class="col">
            <img style="padding-right: 10%; padding-bottom: 15%;" src="../assets/img/image4.jpg">
        </div>
        <div style="border-left: none; border-right: none; border-top: none; padding-bottom: 20%"class="col">3</div>
    </div>
    <div class="row">
        <div style="border-bottom: none;"class="col">
            <img style="padding-right: 31%; padding-bottom: 65%; border-top: none;" src="../assets/img/image1.jpeg">
        </div>
        <div style="border-left: none; border-right: none; height: 416px; width: 3%"class="col"></div>
        <div class="col">
                <img style="padding-right: 30%; padding-bottom: 15%" src="../assets/img/image5.jpg">
        </div>
        <div style="border-left: none; border-right: none; width: 30.3%"class="col">7</div>
        
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">6</div>
    </div>
</div>