<div class='body'>
    <div class='col1'>
        <div class='small'></div>
        <div class='medium'>
            <img class='pic1' src='../assets/img/image1.jpeg'>
        </div>
        <div class='medium'>
            <img class='pic5' src='../assets/img/image5.jpeg'>
        </div>
        <div class='small'></div>
        <div class='square8'>
            <img class='pic8' src='../assets/img/image8.1.jpeg'>
        </div>
    </div>
    <div class='col2'>
        <div class='medium'>
            <img class='pic2' src='../assets/img/image2.jpeg'>
        </div>
        <div class='medium'>
            <img class='pic4' src='../assets/img/image4.jpeg'>
        </div>
    </div>
    <div class='col3'></div>
</div>