<div class='body'>
    <div class='col1'>
        <div class='small-box'></div>
        <div class='pic-container'>
            <img class='pic1' src='../assets/img/image1.jpeg'>
        </div>
        <div class='pic-container'>
            <img class='pic5' src='../assets/img/image5.jpeg'>
        </div>
        <div class='small-box'></div>
        <div class='pic-container-no-bottom'>
            <img class='pic8' src='../assets/img/image8.jpeg'>
        </div>
    </div>
    <div class='square'>
        <div class='col2'>
            <div class='pic-container'>
                <img class='pic2' src='../assets/img/image2.jpeg'>
            </div>
            <div class='pic-container-no-bottom'>
                <img class='pic4' src='../assets/img/image4.jpeg'>
            </div>
        </div>
        <div class='col3'>
            <div class='medium-box'></div>
            <div class='small-box'></div>
            <div class='pic-container'>
                <img class='pic3' src='../assets/img/image3.jpeg'>
            </div>
            <div class='small-box'></div>
            <div class='pic-container-no-bottom'>
                <img class='pic6' src='../assets/img/image6.jpeg'>
            </div>
        </div>
    </div>
    <div class='col4'>
        <div class='pic-container'>
            <img class='pic7' src='../assets/img/image7.jpeg'>
        </div>
    </div>
</div>