ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: right;
    border-right:1px solid black;
    padding: 10px;
    padding-right: 35px;
    padding-left: 35px;
    font-size: x-small;
  }
  
  li:first-child {
    float: left;
    border-right: none;
  }

  li:last-child {
    border-left: 1px solid black;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  img {
    height: 40px;
  }
  
  .logo {
      border: none;
      height: 50px;
      padding: 0;
      display: block;
  }

  .header-container {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      padding: none;
      text-transform: uppercase;
    text-align: center;
  }

  @media screen and (max-width: 620px) {
    li {
      padding: .5%;
    }
    img {
      height: 20px;
    }
    .logo{
      height: 30px;
    }
  }