.navbar {
  border: 1px solid black;
  padding: 0px;
}

.nav-item {
  border-left: 1px solid black;
  font-size: x-small;
  padding-right: 35px;
  padding-left: 35px;
  display: block;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: black;
}

img {
  height: 40px;
  padding-left: 56px;
}